{% extends 'base.html.twig' %}

{% block title %}Hello MemoController!{% endblock %}

{% block body %}

    <style>
        h1 {
            margin-bottom: 50px;
        }

        h3 {
            margin-bottom: 25px;
        }

        .input-text {            
            width: 50%;
        }

        .input-p {
            margin-bottom: 20px;
            width: 50%
        }

        button {
            background-color: #E4E4E4;
            border: none;
            cursor: pointer;
            display: block;
            font-weight: 700;
            margin-top: 20px;
            padding: 10px;
        }
    </style>

    <div class="container">
		<h3>Contenu du mémo {{ memo.id }}</h3>
		<textarea rows="10" cols="100" disabled>{{ memo.memoText }}</textarea>
		<p>Délai d'expiration : {{ memo.expirationTime | date('H:i:s') }}</p>
		<h3>Lien vers le mémo: </h3>
    	<a href="{{memo.id}}">http://memo/{{memo.id}}</a>
	</div>

{% endblock %}